In [54]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [55]:
data = pd.read_csv('discharge.csv')

In [56]:
data

,id,device_id,application_id,received_at,distance,level,pulse,flow_rate,voltage_battery,voltage_solar,temp,voltage_temp,created_at
0,1,rdms1,muringato-discharge,2024-06-06 13:42:56,3,197.0,0,0.0,3.24,0.40,NaN,NaN,2024-06-06 13:42:56
1,2,rdms1,muringato-discharge,2024-06-06 13:43:57,3,197.0,0,0.0,3.24,0.40,NaN,NaN,2024-06-06 13:43:57
2,3,rdms1,muringato-discharge,2024-06-06 13:44:58,5,195.0,0,0.0,3.24,0.40,NaN,NaN,2024-06-06 13:44:58
3,4,rdms1,muringato-discharge,2024-06-06 13:46:00,3,197.0,0,0.0,3.24,0.40,NaN,NaN,2024-06-06 13:46:00
4,5,rdms1,muringato-discharge,2024-06-06 13:47:01,3,197.0,0,0.0,3.24,0.40,NaN,NaN,2024-06-06 13:47:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65947,65948,rdms2,muringato-discharge,2024-08-05 09:14:34,0,91.0,0,0.0,3.64,0.02,40.59,4.50,2024-08-05 09:14:34
65948,65949,rdms2,muringato-discharge,2024-08-05 09:16:47,0,91.0,0,0.0,3.64,0.02,40.54,4.49,2024-08-05 09:16:47
65949,65950,rdms2,muringato-discharge,2024-08-05 09:18:59,0,91.0,0,0.0,3.65,0.02,40.63,4.50,2024-08-05 09:18:59
65950,65951,rdms2,muringato-discharge,2024-08-05 09:21:13,0,91.0,0,0.0,3.63,0.02,40.59,4.50,2024-08-05 09:21:13
65951,65952,rdms2,muringato-discharge,2024-08-05 09:23:26,0,91.0,0,0.0,3.64,0.01,40.68,4.51,2024-08-05 09:23:26

In [57]:
# Drop rows with missing 'level' values
df = data.dropna(subset=['level'])

In [58]:
df.isna().sum()

id                     0
device_id              0
application_id         0
received_at            0
distance               0
level                  0
pulse                  0
flow_rate              0
voltage_battery        0
voltage_solar          0
temp               30610
voltage_temp       30610
created_at             0
dtype: int64

In [59]:
df['received_at'] = pd.to_datetime(df['received_at'])
df['created_at'] = pd.to_datetime(df['created_at'])

C:\Users\HP\AppData\Local\Temp\ipykernel_3220\3911244226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['received_at'] = pd.to_datetime(df['received_at'])
C:\Users\HP\AppData\Local\Temp\ipykernel_3220\3911244226.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['created_at'] = pd.to_datetime(df['created_at'])

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65942 entries, 0 to 65951
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               65942 non-null  int64
 1   device_id        65942 non-null  object
 2   application_id   65942 non-null  object
 3   received_at      65942 non-null  datetime64[ns]
 4   distance         65942 non-null  int64
 5   level            65942 non-null  float64
 6   pulse            65942 non-null  int64
 7   flow_rate        65942 non-null  float64
 8   voltage_battery  65942 non-null  float64
 9   voltage_solar    65942 non-null  float64
 10  temp             35332 non-null  float64
 11  voltage_temp     35332 non-null  float64
 12  created_at       65942 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(6), int64(3), object(2)
memory usage: 7.0+ MB

In [61]:
df['received_hour'] = df['received_at'].dt.hour
df['received_minute'] = df['received_at'].dt.minute

C:\Users\HP\AppData\Local\Temp\ipykernel_3220\2550305979.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['received_hour'] = df['received_at'].dt.hour
C:\Users\HP\AppData\Local\Temp\ipykernel_3220\2550305979.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['received_minute'] = df['received_at'].dt.minute

In [62]:
df = df.drop(columns=['id', 'received_at', 'created_at'])

In [63]:
#df['level'] = df['level'].fillna(df['level'].mean())
df['temp'] = df['temp'].fillna(df['temp'].mean())
df['voltage_temp'] = df['voltage_temp'].fillna(df['voltage_temp'].mean())

In [64]:
X = df.drop(columns=['level'])
y = df['level']

In [65]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [66]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

# Building preprocessing pipeline for categorical and numerical features
categorical_features = ['device_id', 'application_id']
numerical_features = [col for col in X.columns if col not in categorical_features]

categorical_transformer = OneHotEncoder(handle_unknown='ignore')
numerical_transformer = SimpleImputer(strategy='mean')

In [67]:
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_features),
        ('num', numerical_transformer, numerical_features)
    ])

In [68]:

# Building the model pipeline
model = Pipeline(steps=[('preprocessor', preprocessor),
                        ('regressor', RandomForestRegressor(n_estimators=100, random_state=42))])

In [69]:
preprocessor

ColumnTransformer(transformers=[('cat', OneHotEncoder(handle_unknown='ignore'),
                                 ['device_id', 'application_id']),
                                ('num', SimpleImputer(),
                                 ['distance', 'pulse', 'flow_rate',
                                  'voltage_battery', 'voltage_solar', 'temp',
                                  'voltage_temp', 'received_hour',
                                  'received_minute'])])

In [70]:
# Training the model
model.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['device_id',
                                                   'application_id']),
                                                 ('num', SimpleImputer(),
                                                  ['distance', 'pulse',
                                                   'flow_rate',
                                                   'voltage_battery',
                                                   'voltage_solar', 'temp',
                                                   'voltage_temp',
                                                   'received_hour',
                                                   'received_minute'])])),
                ('regressor', RandomForestRegressor(random_state=42))])

In [71]:

# Making predictions
y_pred = model.predict(X_test)

# Evaluating the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mse ** 0.5

mae, rmse

(3.8101125709342596, 15.992658410215267)

In [28]:
df.level.min()

0.0

In [29]:
df.level.max()

255.0

In [30]:
y_test

55318     55.0
39748    196.0
8592     187.0
59486     57.0
24932    117.0
         ...
19136     13.0
61351     58.0
40009    196.0
25780     13.0
45862    196.0
Name: level, Length: 13189, dtype: float64

In [31]:
y_pred

array([ 54.65, 196.  , 186.36, ..., 196.  ,  12.16, 196.  ])

In [76]:
X_test

,device_id,application_id,distance,pulse,flow_rate,voltage_battery,voltage_solar,temp,voltage_temp,received_hour,received_minute
55318,rdms1,muringato-discharge,33,0,0.0,3.63,0.0,44.898418,4.983773,19,8
39748,rdms2,muringato-discharge,4,0,0.0,4.05,0.0,46.030000,5.110000,21,36
8592,rdms2,muringato-discharge,13,0,0.0,3.64,0.0,46.030000,5.110000,19,42
59486,rdms1,muringato-discharge,31,0,0.0,4.02,0.0,44.898418,4.983773,2,10
24932,rdms1,muringato-discharge,83,0,0.0,0.00,0.0,44.898418,4.983773,11,15
...,...,...,...,...,...,...,...,...,...,...,...
19136,rdms2,muringato-discharge,188,0,0.0,3.79,0.0,46.030000,5.110000,9,20
61351,rdms1,muringato-discharge,32,0,0.0,3.66,0.4,44.898418,4.983773,15,56
40009,rdms2,muringato-discharge,4,0,0.0,4.03,0.0,46.030000,5.110000,2,17
25780,rdms2,muringato-discharge,187,0,0.0,3.62,0.0,46.030000,5.110000,18,33
45862,rdms2,muringato-discharge,4,0,0.0,3.66,0.0,46.030000,5.110000,7,53

In [141]:
# Function to clean and predict new data
def clean_and_predict(new_data, model):
    # Convert date columns to datetime format
    new_data['received_at'] = pd.to_datetime(new_data['received_at'])
 

    # Feature engineering
    new_data['received_hour'] = new_data['received_at'].dt.hour
    new_data['received_minute'] = new_data['received_at'].dt.minute


    # Dropping irrelevant columns
    new_data = new_data.drop(columns=['id','received_at', 'created_at'])

    # Handling missing values
    new_data['temp'] = new_data['temp'].fillna(new_data['temp'].mean())
    new_data['voltage_temp'] = new_data['voltage_temp'].fillna(new_data['voltage_temp'].mean())

    # Apply preprocessing and prediction
    X_new = new_data
    #X_new_transformed = preprocessor.transform(X_new)
    prediction = model.predict(X_new)

    return prediction

In [137]:
print(new_data.columns)

Index(['device_id', 'application_id', 'distance', 'pulse', 'flow_rate',
       'voltage_battery', 'voltage_solar', 'temp', 'voltage_temp',
       'received_hour', 'received_minute'],
      dtype='object')

In [138]:
X_new_transformed = preprocessor.transform(new_data)
print(X_new_transformed.shape)

(1, 12)

In [139]:
print(preprocessor.named_transformers_)

{'cat': OneHotEncoder(handle_unknown='ignore'), 'num': SimpleImputer()}

In [136]:
expected_columns = ['device_id', 'application_id', 'distance', 'pulse', 'flow_rate', 'voltage_battery', 'voltage_solar', 'temp', 'voltage_temp', 'received_hour', 'received_minute']
print(new_data.columns)
print("Columns present:", new_data.columns.tolist())
print("Expected columns:", expected_columns)

Index(['device_id', 'application_id', 'distance', 'pulse', 'flow_rate',
       'voltage_battery', 'voltage_solar', 'temp', 'voltage_temp',
       'received_hour', 'received_minute'],
      dtype='object')
Columns present: ['device_id', 'application_id', 'distance', 'pulse', 'flow_rate', 'voltage_battery', 'voltage_solar', 'temp', 'voltage_temp', 'received_hour', 'received_minute']
Expected columns: ['device_id', 'application_id', 'distance', 'pulse', 'flow_rate', 'voltage_battery', 'voltage_solar', 'temp', 'voltage_temp', 'received_hour', 'received_minute']

In [148]:
ndata = pd.DataFrame([{
    'id': 55,
    'device_id': 'rdms1',
    'application_id': 'muringato-discharge',
    'received_at': '6/6/2024 14:23',
    'distance': 3,
    'pulse': 0,
    'flow_rate': 0,
    'voltage_battery': 3.24,
    'voltage_solar': 0.4,
    'temp':44.898,
    'voltage_temp': 4.986773,
    'created_at': '6/6/2024 13:42'
}])

In [153]:
data.application_id.unique()

array(['muringato-discharge', 'discharge'], dtype=object)

In [143]:
X_new_transformed = preprocessor.transform(X_test)
print(X_new_transformed.shape)

(13189, 12)

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), ['device_id', 'application_id']),
        ('num', SimpleImputer(strategy='mean'), ['distance', 'pulse', 'flow_rate', 'voltage_battery', 'voltage_solar', 'temp', 'voltage_temp', 'received_hour', 'received_minute', 'created_hour', 'created_minute'])
    ])

In [133]:
preprocessor

ColumnTransformer(transformers=[('cat', OneHotEncoder(handle_unknown='ignore'),
                                 ['device_id', 'application_id']),
                                ('num', SimpleImputer(),
                                 ['distance', 'pulse', 'flow_rate',
                                  'voltage_battery', 'voltage_solar', 'temp',
                                  'voltage_temp', 'received_hour',
                                  'received_minute'])])

In [149]:
# Predict the level for the new data
predicted_level = clean_and_predict(ndata, model)
print(predicted_level)

[193.64]

In [128]:
X_test

,device_id,application_id,distance,pulse,flow_rate,voltage_battery,voltage_solar,temp,voltage_temp,received_hour,received_minute
55318,rdms1,muringato-discharge,33,0,0.0,3.63,0.0,44.898418,4.983773,19,8
39748,rdms2,muringato-discharge,4,0,0.0,4.05,0.0,46.030000,5.110000,21,36
8592,rdms2,muringato-discharge,13,0,0.0,3.64,0.0,46.030000,5.110000,19,42
59486,rdms1,muringato-discharge,31,0,0.0,4.02,0.0,44.898418,4.983773,2,10
24932,rdms1,muringato-discharge,83,0,0.0,0.00,0.0,44.898418,4.983773,11,15
...,...,...,...,...,...,...,...,...,...,...,...
19136,rdms2,muringato-discharge,188,0,0.0,3.79,0.0,46.030000,5.110000,9,20
61351,rdms1,muringato-discharge,32,0,0.0,3.66,0.4,44.898418,4.983773,15,56
40009,rdms2,muringato-discharge,4,0,0.0,4.03,0.0,46.030000,5.110000,2,17
25780,rdms2,muringato-discharge,187,0,0.0,3.62,0.0,46.030000,5.110000,18,33
45862,rdms2,muringato-discharge,4,0,0.0,3.66,0.0,46.030000,5.110000,7,53